.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color: white;
  max-width: 270px;
  max-height: 380px;
}

.productImg {
  margin-top: 40px;
}

.product-text {
  font-size: 16px;
  line-height: normal;
  font-weight: 500;
  margin-left: 19px;
  margin-right: 19px;
  text-align: center;
}

.price-count {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.price {
  color: #fc5b00;
  font-size: 1.5rem;
  font-weight: 500;
}

.price::after {
  content: "₴";
  font-size: 1rem;
}

.count {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-status {
  margin-bottom: 20px;
  color: #05bc52;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  gap: 10px;
}

.icon-status-product > svg {
  width: 35px;
  height: 28px;
}

.status-text {
  display: flex;
  align-items: center;
}
