.card-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.active {
  color: red;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.non-active {
  color: transparent;
  text-align: center;
}
